# Android-specific ignores
/build/
/app/build/
/**/build/
local.properties
/.idea/
/*.iml
*.jks
*.keystore
/.gradle/
/**/gradle-wrapper.jar
/gradlew
/gradlew.bat
*.log
*.bak
/.DS_Store
/.idea/caches/
/.idea/libraries/
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/tasks.xml
/captures/
/output.json
*.apk
*.ap_
*.dex
*.class
*.so
*.log
*.swo
*.swn
*.swp
/previews/
*.hprof
*.stacktrace
*.db
*.lock
*.gz
/lint/reports/
/lint/any-lint-log.txt
/.cxx/
/.externalNativeBuild/

# Node.js/NestJS-specific ignores
/onfstore-backend/node_modules/
/onfstore-backend/dist/
/onfstore-backend/.env
/onfstore-backend/npm-debug.log*
/onfstore-backend/yarn-error.log
/onfstore-backend/.next/
/onfstore-backend/out/
/onfstore-backend/build/
/onfstore-backend/.nuxt/
/onfstore-backend/.svelte-kit/
/onfstore-backend/.vercel/
/onfstore-backend/.netlify/
/onfstore-backend/.now/
/onfstore-backend/.serverless/
/onfstore-backend/.webpack/
/onfstore-backend/logs/
/onfstore-backend/coverage/
/onfstore-backend/.nyc_output/
/onfstore-backend/.eslintcache
/onfstore-backend/.cache/
/onfstore-backend/.turbo/
/onfstore-backend/.parcel-cache/
/onfstore-backend/.parcel-dist/
/onfstore-backend/.expo/
/onfstore-backend/.expo-shared/
/onfstore-backend/.babelrc
/onfstore-backend/lerna-debug.log
/onfstore-backend/.history
/onfstore-backend/.idea/
/onfstore-backend/.vscode/
/onfstore-backend/.editorconfig
